In [98]:
import pandas as pd
import scipy.stats as stats
import numpy as np

In [99]:
isa_rpn = pd.read_csv('isa-rpn.csv')
vanilla_rpn = pd.read_csv('vanilla-rpn.csv')

In [100]:
isa_rpn

   fold       iou  precision    recall        f1
0     1  0.371718   0.534015  0.482342  0.495250
1     2  0.347021   0.466240  0.550036  0.485437
2     3  0.361362   0.445651  0.599009  0.494177
3     4  0.308894   0.437499  0.468125  0.436774
4     5  0.370409   0.485980  0.490346  0.477995

In [101]:
vanilla_rpn

   fold       iou  precision    recall        f1
0     1  0.050123   0.300456  0.350789  0.370987
1     2  0.220345   0.040567  0.020678  0.370123
2     3  0.440789   0.320890  0.360123  0.080567
3     4  0.300234   0.060789  0.330456  0.310789
4     5  0.010456   0.270567  0.090789  0.340123

In [102]:
isa_vit = pd.read_csv('isa-vit.csv')
vanilla_vit = pd.read_csv('vanilla-vit.csv')

In [103]:
isa_vit

   fold      dice  precision    recall        f1       fpr
0     1  0.605263   0.736842  0.554386  0.605263  0.000155
1     2  0.359649   0.421053  0.333333  0.359649  0.000000
2     3  0.626316   0.789474  0.567544  0.626316  0.000207
3     4  0.254386   0.315789  0.228070  0.254386  0.000000
4     5  0.157895   0.157895  0.157895  0.157895  0.000000

In [104]:
vanilla_vit

   fold  dice  precision  recall    f1     fpr
0     1  0.58       0.72    0.54  0.58  0.0002
1     2  0.34       0.40    0.32  0.34  0.0001
2     3  0.60       0.77    0.55  0.60  0.0003
3     4  0.23       0.30    0.20  0.23  0.0000
4     5  0.14       0.14    0.14  0.14  0.0000

### ISA-RPN vs RPN

In [105]:
rpn_results = {}

rpn_metrics = isa_rpn.columns[1:].tolist()
rpn_metrics

['iou', 'precision', 'recall', 'f1']

In [106]:
for metric in rpn_metrics:
    stat, p_value = stats.wilcoxon(isa_rpn[metric], vanilla_rpn[metric])
    rpn_results[metric] = {'stat': stat, 'p-value': p_value}

In [107]:
df_rpn_results = pd.DataFrame(rpn_results)
df_rpn_results

            iou  precision  recall      f1
stat     2.0000     0.0000  0.0000  0.0000
p-value  0.1875     0.0625  0.0625  0.0625

### ISA-ViT vs ViT

In [108]:
vit_results = {}

vit_metrics = isa_vit.columns[1:].tolist()
vit_metrics

['dice', 'precision', 'recall', 'f1', 'fpr']

In [109]:
for metric in vit_metrics:
    stat, p_value = stats.wilcoxon(isa_vit[metric], vanilla_vit[metric])
    vit_results[metric] = {'stat': stat, 'p-value': p_value}

d:\Programming Files\Python\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  res = hypotest_fun_out(*samples, **kwds)
d:\Programming Files\Python\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: UserWarning: Sample size too small for normal approximation.
  res = hypotest_fun_out(*samples, **kwds)

In [110]:
df_vit_results = pd.DataFrame(vit_results)
df_vit_results

           dice  precision  recall      f1       fpr
stat     0.0000     0.0000  0.0000  0.0000  0.000000
p-value  0.0625     0.0625  0.0625  0.0625  0.108809